@{
    ViewData["Title"] = "Reporte";
}

<h1>Reporte</h1>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Ventas Diarias</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Reporte de Ventas Diarias</h2>
    <p>Fecha generación: <span id="fecha_generacion">@Model[0].FechaGeneracion.ToString("dd/MM/yyyy")</span></p>
    <p>Fecha inicio: <span id="fecha_inicio">@Model[0].FechaInicio.ToString("dd/MM/yyyy")</span></p>
    <p>Fecha fin: <span id="fecha_fin">@Model[0].FechaFin.ToString("dd/MM/yyyy")</span></p>
    <table>
        <thead>
            <tr>
                <th>Fecha de Compra</th>
                <th>Tipo de Producto</th>
                <th>Ciudad</th>
                <th>Nombre del Producto</th>
                <th>Cantidad</th>
                <th>Costo Unitario</th>
                <th>SubTotal</th>
            </tr>
        </thead>
        <tbody>
            
            @{decimal total = 0.0M;
               
                    
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FechaCompra.ToString("dd/MM/yyyy")</td>
                            <td>@item.TipoProducto</td>
                            <td>@item.Ciudad</td>
                            <td>@item.NombreProducto</td>
                            <td>@item.Cantidad</td>
                            <td>@item.CostoUnitario.ToString("C")</td>
                            <td>@item.SubTotal.ToString("C")</td>
                        </tr>
                        total += item.SubTotal;
                    } 
                
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align:right"><strong>TOTAL (en Quetzales)</strong></td>
                <td>@total.ToString("C") </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>