
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Referencia</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tipo de Producto</th>
            <th>Material</th>
            <th>Alto</th>
            <th>Ancho</th>
            <th>Profundidad</th>
            <th>Color</th>
            <th>Peso</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody id="productTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Referencia</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.TipoProducto</td>
                <td>@item.Material</td>
                <td>@item.Alto</td>
                <td>@item.Ancho</td>
                <td>@item.Profundidad</td>
                <td>@item.Color</td>
                <td>@item.Peso</td>
                <td>
                    <img src="@item.Foto" alt="Foto de @item.Nombre" style="max-width: 100px; max-height: 100px;" />
                </td>
            </tr>
        }
    </tbody>
</table>
