@using ProyectoDB2.DTOs
@model IEnumerable<ProductoDTO>

@{
	ViewData["Title"] = "Productos";
}

<div class="d-flex justify-content-between align-items-center my-3">
	<h1>Productos</h1>

	<button onclick="location.href='@Url.Action("Create", "Producto")'" class="btn btn-primary">
		Crear Producto
	</button>
</div>

<table class="table table-bordered table-striped">
	<thead class="thead-dark">
		<tr>
			<th>Referencia</th>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Tipo de Producto</th>
			<th>Material</th>
			<th>Color</th>
			<th>Peso</th>
		</tr>
	</thead>
	<tbody id="productTableBody">
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Referencia</td>
				<td>@item.Nombre</td>
				<td>@item.Descripcion</td>
				<td>@item.TipoProducto</td>
				<td>@item.Material</td>
				<td>@item.Color</td>
				<td>@item.Peso</td>
				<td>
					@* Link a editar *@
					<a href="@Url.Action("Edit", "Producto", new { id = item.Referencia })" class="btn btn-primary">
						Editar
					</a>
				</td>
				<td>
					@* Link a eliminar *@
					<a href="@Url.Action("Delete", "Producto", new { id = item.Referencia })" class="btn btn-danger">
						Eliminar
					</a>
				</td>
				<td>
					@* Link a detalles *@
					<a href="@Url.Action("Details", "Producto", new { id = item.Referencia })" class="btn btn-success">
						Detalle
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
