@model IEnumerable<ProyectoDB2.Models.AdminModel>

@{
    ViewBag.Title = "Admin Index";
}

<h1>Usuarios</h1>

<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>Nombre</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in Model)
        {
            <tr>
                <td>@admin.Id</td>
                <td>@admin.Name</td>
                <td>
                    <a href="@Url.Action("Details", new { id = admin.Id })" class="btn btn-info btn-sm me-2">Detalles</a> |
                    <a href="@Url.Action("Edit", new { id = admin.Id })" class="btn btn-warning btn-sm me-2">Editar</a> |
                    <a href="@Url.Action("Delete", new { id = admin.Id })" class="btn btn-danger btn-sm me-2">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<a href="@Url.Action("Create")" class="btn btn-primary">Agregar usuario</a>
