@* @using ProyectoDB2.DTOs
@model List<TipoProductoDTO>

@{
	ViewData["Title"] = "Tipos de Productos";
}

<div class="container mt-4">
	<div class="row">
		<div class="col-12">
			<h2 class="text-center">CRUD de Productos</h2>
			<div class="text-right mb-3">
				<a class="btn btn-success" href="@Url.Action("Create", "TipoProducto")"><i class="fas fa-plus"></i> Agregar Producto</a>
			</div>
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Id</th>
						<th>Nombre</th>
					</tr>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.Id</td>
							<td>@item.Nombre</td>
						</tr>
					}
				</table>
			</div>
		</div>
	</div>
</div>
 *@

 @using ProyectoDB2.DTOs
@model IEnumerable<TipoProductoDTO>

@{
	ViewData["Title"] = "Tipos de Producto";
}

<div class="d-flex justify-content-between align-items-center my-3">
	<h1>Tipos de Producto</h1>

	<button onclick="location.href='@Url.Action("Create", "TipoProducto")'" class="btn btn-primary">
		Crear Tipos de Producto
	</button>
</div>

<table class="table table-bordered table-striped">
	<thead class="thead-dark">
		<tr>
			<th>Id</th>
			<th>Nombre</th>
		</tr>
	</thead>
	<tbody id="productTableBody">
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Nombre</td>
				<td>
					@* Link a eliminar *@
					<a href="@Url.Action("Delete", "TipoProducto", new { id = item.Id })" class="btn btn-danger">
						Eliminar
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
